@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;

}
header{
   text-align: center;
   background: #8dccf9fc;
   color: #fff;
   padding: 10px 0;
}
.container{
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
section {
    border: 2px solid #5624d0;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
}
label {
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    margin-bottom: 3px;
}
label:hover {
    background: #cec0fc;
}
button {
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;

    background-color: #7891ff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
button:hover {
    background: #000;
    color: #fff;
}
h2{
    text-align: center;
}
#Resultado{
    font-size: 30px;
    color: darkmagenta;
}